.contact-page {
    padding: 100px 0px;
    margin-top: 20px;
}

.input-border {
    border: 1px solid #7450A5 !important;
    border-radius: 8px;
    padding: 10px;
}

.input-border:focus {
    border-color: #7450A5 !important;
    outline: none;
    box-shadow: none !important;
    /* box-shadow: 0 0 0 2px rgba(116, 80, 165, 0.2); */
}

.contact-item-content h3 {
    color: #240752;
}

.contact-social-list h3 {
    color: #240752;
}

.contact-social-list {
    width: 100% !important;
}

.form-group textarea {
    resize: none;
}